*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d0d0d;
    color:#fff;
}

header{
    background:#6f2dbd;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    position:sticky;
    top:0;
}

header h1{
    font-size:30px;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-weight:bold;
    transition:.3s;
}

nav a:hover{
    color:#ffd54f;
}

.hero{
    min-height:85vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(rgba(0,0,0,.65),rgba(0,0,0,.65)), url('../img/banner.jpg');
    background-size:cover;
    background-position:center;
    padding:20px;
}

.hero h2{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    max-width:700px;
}

.hero button{
    margin-top:35px;
    background:#f5b301;
    color:#111;
    border:none;
    padding:16px 38px;
    font-size:18px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.hero button:hover{
    transform:scale(1.05);
}